@using Nekretnine.Data.Models
@model Ugovor
@{
    ViewData["Title"] = "Pregled";
    var photoPath = "~/files/" + (Model.PDF.PDFID + Model.PDF.Extension ?? "noimage.jpg");
}

    <div class="container-fluid">
        <a href="javascript:history.go(-1)" class="btn btn-danger"><i class="fa fa-arrow-left"></i></a>
        <div class="row justify-content-center">

           
            <embed src="~/files/@(Model.PDF.PDFID + Model.PDF.Extension)" width="700" height="1000"
                   type="application/pdf">
           

        </div>

    </div>